// DEFINE MQTT
#define MQTT_SERVER "io.adafruit.com"
#define MQTT_PORT 1883

// DEFINE WIFI AP
#ifndef SSID_AP
#define SSID_AP "ESP32-SETUP"
#endif

// DEFINE BLE
#define OTA_SERVICE_UUID "0000ff00-0000-1000-8000-00805f9b34fb"
#define OTA_CHARACTERISTIC_UUID "0000ff01-0000-1000-8000-00805f9b34fb"

// DEFINE STRUCT SCHEDULE
#define MAX_SCHEDULES 20
#define MAX_DAYS 7
#define MAX_ACTIONS 10

// DEFINE DELAY
#define delay_time 10000
#define delay_relay 100
#define delay_temp_humi 15000
#define delay_gps 15000
#define delay_connect 100
#define delay_led 1000
#define delay_30_min 1800000

// DEFINE PINS
#define BOOT 0
#ifndef MY_SCL
#define MY_SCL 11
#endif

#ifndef MY_SDA
#define MY_SDA 12
#endif

#ifndef TXD_RS485
#define TXD_RS485 10
#endif

#ifndef RXD_RS485
#define RXD_RS485 17
#endif

#ifndef TXD_RELAY
#define TXD_RELAY 8
#endif

#ifndef RXD_RELAY
#define RXD_RELAY 9
#endif

#ifndef TXD_GPS
#define TXD_GPS 18
#endif

#ifndef RXD_GPS
#define RXD_GPS 21
#endif

#ifndef MY_LED
#define MY_LED 45
#endif

#define BUZZER 21 // relay_6_ch
#define NUM_PIXELS 4
#define Brightness 39 // Set brightness to (0 to 255)

// DEFINE RELAYS
#ifndef GPIO_PIN_CH1
#define GPIO_PIN_CH1 1
#endif

#ifndef GPIO_PIN_CH2
#define GPIO_PIN_CH2 2
#endif

#ifndef GPIO_PIN_CH3
#define GPIO_PIN_CH3 3
#endif

#ifndef GPIO_PIN_CH4
#define GPIO_PIN_CH4 4
#endif

#ifndef GPIO_PIN_CH5
#define GPIO_PIN_CH5 5
#endif

#ifndef GPIO_PIN_CH6
#define GPIO_PIN_CH6 6
#endif

// DEFINE BAUD_RATE
#define BAUD_RATE_1 115200
#define BAUD_RATE_2 9600

// DEFINE NTP
#define httpPort 80

// DEFINE SERVER
#define ntpServer "pool.ntp.org"
#define utcOffsetInSeconds 25200

// DEFINE VERSION
#define MY_VERSION "3.0.0"

// DEFINE BOARD
#ifndef MY_BOARD
#define MY_BOARD "Yolo Uno"
#endif